name: ci

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: "Install Salesforce CLI"
        run: |
          npm install sfdx-cli
          node_modules/sfdx-cli/bin/run plugins:install @salesforce/sfdx-scanner
      - name: "Run SFDX Scanner"
        uses: mitchspano/sfdx-scan-pull-request@v0.1.7
        with:
          pmdconfig: ruleset.xml
          eslintconfig: force-app/main/default/lwc/.eslintrc.json
          serverity-threashold: 4
          strictly-enforced-rules: '[{ "engine": "pmd", "category": "Performance", "rule": "AvoidDebugStatements" }]'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Run Graph Engine against all files"
        run: |
          node_modules?sfdx-cli/bin/run scanner:run:dfa --target './force-app/main/default/classes' --projectdir './force-app/main/default' --format csv
